<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewpoint" content="width=j, initial-scale=1.0" />
        <title>Task2</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script> 
    </head>

    <body>
        <div id="app">
            <p v-if="assignments[0].dueTomorrow"> {{ assignments[0].name + " is due tomorrow"}}</p>
            <p v-if="assignments[1].dueTomorrow"> {{ assignments[1].name}}</p>
            <p v-else="assignment[2].dueTomorrow"> {{assignments[2].name + " is also due tomorrow"}}</p>
            <p v-show="assignments[1]">{{ "But " + assignments[1].name + " is not due tomorrow"}}</p>
            


            <p v-for= "assignment in dueTomorrowAssignments" :key= "assignment.id" >
                {{ assignment.name }}
            </p>
        </div>
    </body>

</html>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            assignments: [
                {
                    name:'assignment1',
                    dueTomorrow: true,
                    id: 1,
                },
                {
                    name:'assignment2',
                    dueTomorrow: false,
                    id: 2,
                },
                {
                    name:'assignment3',
                    dueTomorrow: true,
                    id: 3,
                },
            ],
        },
        computed: {
            dueTomorrowAssignments() {
                return this.assignments.filter((assignment) => assignment.dueTomorrow);
            },
        },
    });
</script>